

  <!-- DEBUT NAVBAR -->
  <font size="3">
    <div class="bs-example">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="accueil.php" class="navbar-brand">
          <img src="image/accueil/bledfix.png" height="48" alt="LOGO">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a href="accueil.php" class="nav-item nav-link active">Accueil</a>
            <a href="series.php" class="nav-item nav-link">Séries</a>
            <a href="films.php" class="nav-item nav-link">Films</a>
            <div align="right"> <a href="deconnexion.php" class="nav-item nav-link">Deconnexion</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          </div>

        </div>
      </nav>
    </div>
  </font>
  <!-- FIN DE NAVBAR -->